*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.coinArea{
    border-radius: 20px;
    width: 24rem;
    height: 35rem;
    margin: 4rem auto 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

/*Nav*/

nav{
    background-color: rgba(0, 0, 255, 0.404);
    height: 4vh;
}

.userButton .fas{
    font-size: 2rem;
}

.flag img{
    width: 28px;
    height: auto;
}

/*Header*/

header{
    h
}

/*Main*/

main{
    
}


/*Footer*/

footer{
   
}